Flask
Flask-WTF
importlib_metadata
importlib_resources
Jinja2
matplotlib
matplotlib-inline
numpy
opencv-python
pandas
pyparsing
python-dateutil
PyYAML
requests
scipy
seaborn
ultralytics
ezenv
filelock
GitPython
gunicorn
opencv-python-headless