Flask~=3.0.3
Jinja2~=3.1.3
opencv-python~=4.9.0.80
ultralytics~=8.0.26
wtforms~=3.1.2
werkzeug~=3.0.2
console~=0.9907
pip~=24.0
wheel~=0.41.2
pillow~=10.3.0
setuptools~=68.2.0
packaging~=24.0
zipp~=3.18.1
gunicorn